export SESSION_SECRET=keyboard_cat
export PORT=8000
export MODE=local

export WHITELIST=http://localhost,http://localhost:3000

export DEFAULT_ADMIN_EMAIL=admin@api-template.com
export DEFAULT_ADMIN_PASSWORD=admin

# Don't forget to change DB_HOST to "db" when launching with docker-compose
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=linkedin
export DB_USER=root
export DB_PASS=azedzsd344-fredfrZErd
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

export REDIS_PORT=6379
export REDIS_HOST=localhost
export REDIS_PASS=é343zseeZqrEsfZ-_Re

export STUDIO_PORT=8001

export CLIENT_PORT=3000